/* change these */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change / delete some of these - note: all variables are listed twice */

:root {
  --bg-color: #bbd691;
  --link-color: #f1b9b8;
  --link-hover-color: #fdc239;
  --color-4: #f2d194;
  --color-5: #d5eff0;

  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --main-text-color: #0e0e0e;

  --white-space: 1rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: bold;
  color: white;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  /* margin-bottom: calc(4 * var(--white-space)); */
  margin-bottom: calc(2 * var(--white-space));
}

.section-heading {
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
  text-align: center;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
  background-size: cover;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img//girl.png) top left repeat;
}

.texture-swatch-1 {
  background: url(../img/drink.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/ballon.png) top left repeat;
}

.graphic li {
  height: 20vh;
  width: 40%;
  margin-right: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.graphic-swatch-1 {
  background: url(../img/pineapple.png) top left repeat;
}

.graphic-swatch-2 {
  background: url(../img/strawberry.png) top left repeat;
}

.graphic-swatch-3 {
  background: url(../img/mango.png) top left repeat;
}

.graphic-swatch-4 {
  background: url(../img/lime.png) top left repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-start;
  gap: calc(0.5 * var(--white-space));
}

button {
  padding: 1rem;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: var(--secondary-font);
  letter-spacing: 1px;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 0;
  /* margin: 0 1rem 0 0; */
}

.secondary-button {
  background: var(--color-5);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
}

button:hover {
  opacity: 80%;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: bold;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--secondary-font);
  color: var(--link-color);
  transition: all 0.2s;
}

a:hover {
  opacity: 70%;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  /* margin-bottom: calc(2 * var(--white-space)); */
  margin-bottom: var(--white-space);
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: column;
  }
}
